/* Стили для фона устанавливаются через код, здесь оставляем только стили для виджетов */

QWidget {
    background-color: transparent; /* Прозрачный фон для виджетов */
    font-family: 'Segoe UI', 'Arial', sans-serif;
    font-size: 15px;
    color: #202945;
}

QLabel {
    font-weight: 600;
    font-size: 35px;
    margin-top: 16px;
    margin-bottom: 4px;
    color: rgba(123, 193, 255, 1);
    background-color: rgba(0, 0, 0, 0); 
    padding: 2px 5px;
    border-radius: 3px;
    
}

QComboBox {
    border: 0px solid #d2d7e1;
    border-radius: 21px;
    padding: 30px 12px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0);
    color: rgba(123, 193, 255, 1);
    min-width: 250px;
    max-width: 350px;
    height: 40px;
}
QComboBox QAbstractItemView {
    background: rgba(0, 0, 0, 1); /* или любой другой цвет, который вы хотите */
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    outline: 0; /* Убирает пунктирную рамку вокруг выбранного элемента */
}


QLineEdit {
    border: 3px solid #d2d7e1;
    border-radius: 21px;
    padding: 30px 12px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0);
    margin-bottom: 8px;
    color: white; 
    font-weight: bold;
}

QPushButton {
    background: rgba(123, 193, 255, 0);
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 8px;
    font-size: 55px;
    padding: 30px 12px;
    margin-top: 8px;
    font-weight: 700;
    min-width: 250px;
    max-width: 350px;
    border-radius: 21px;
}

QPushButton:hover {
    background: 3px solid rgba(0, 0, 0, 0);
}

QPushButton#searchButton {
    background: rgba(123, 193, 255, 1);
    color: #fff;
    border: 0px solid rgba(255, 255, 255, 1);
    border-radius: 1px;
    font-size: 30px;
    padding: 10px 12px;
    margin-top: 8px;
    font-weight: 700;
    min-width: 255px;
    max-width: 355px;
    border-radius: 21px;
}

/* QCheckBox {
    font-size: 14px;
    margin: 5px 0;
    color: rgba(123, 193, 255, 1);
    background-color: rgba(0, 0, 0, 0);
    padding: 2px 5px;
    font-size: 30px;
    border-radius: 3px;
} 

QCheckBox::indicator {
    width: 20px;
    height: 20px;
    border-radius: 8px;
}

QCheckBox::indicator:unchecked {
    border: 3px solid #d2d7e1;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

QCheckBox::indicator:checked {
    border: 0px solid #0057b7;
    background: rgba(0, 87, 183, 0.8);
    border-radius: px;
}*/